<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:component-scan base-package="haja.pta" />

	<bean id="IPhoneCommunicationManagement"
		class="haja.pta.desktop.communication.PhoneCommunicationManagementAndroid"
		factory-method="getInstance" init-method="init" />
	<bean id="IConnectionListener" class="haja.pta.desktop.communication.ConnectionListenerTcp" />
	<bean id="DesktopConfig" class="haja.pta.util.Config">
		<constructor-arg>
			<value>desktop.properties</value>
		</constructor-arg>
	</bean>

</beans>
